body {
  margin: 0;
  background-color: rgba(55, 53, 195, 0.301);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
  padding: 20px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

#weatherSearch {
  height: 20px;
  width: 20em;
}

button {
  height: 26px;
}

.weather-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  width: 30em;
}
.weather-output {
  display: flex;
  justify-content: center;
}

.weather-logo {
  height: 8em;
  width: auto;
}
